<%= turbo_frame_tag "cart" do%>
<div class="w-[85%] mx-auto min-h-[50vh]">

    <% if @cart.cartItems.count > 0 %>
      <h1 class="mt-24 font-bold text-2xl">
        Cart
        <% if  @cart.cartItems.sum(&:quantity) == 1 %>
          <span class="font-normal">(<%= @cart.cartItems.sum(&:quantity) %> item)</span>
        <% else %>
          <span class="font-normal">(<%= @cart.cartItems.sum(&:quantity) %> items)</span>
        <% end %>
      </h1>
      <div class="grid lg:grid-cols-3 gap-12 p-6">

        <div class="lg:col-span-2 bg-white divide-y">
          <% @cart.cartItems.each do |cartItem| %>
          <% product = cartItem.product %>
            <div class="grid md:grid-cols-4 items-center gap-8 py-6" id="<%=
            "cart-#{product.id}" %>">
              <div class="md:col-span-2 flex items-center gap-6" >
                <div
                  class="w-32 h-22 shrink-0 shadow-[0_0px_4px_0px_rgba(6,81,237,0.2)] p-4"
                >
                  <%= link_to product_path(product) do %>
                    <%= image_tag product.image,alt:product.name, class:"w-full h-full object-contain rounded-md"%>
                  <%end %>
                </div>
                <div>
                  <h3 class="text-lg font-extrabold text-[#333]">
                    <%= link_to product_path(product) do %>
                      <%= product.name %>
                    <% end %>
                  </h3>
                  <h6 class="text-md text-gray-500 mt-2">
                    Price:
                    <strong class="ml-2">
                      <%= render 'products/product_price', product: product %>
                    </strong>
                  </h6>
                </div>
              </div>
              <div class="flex">
                <%= form_with(url: cart_decrease_path, method: :post) do |f| %>
                  <%=f.hidden_field :id, value: cartItem.id %>
                  <%= f.submit "-",class:"cursor-pointer shrink-0 py-2 font-semibold text-[#333] text-2xl hover:text-black/[0.7]"%>
                <% end %>

                <span
                  class="bg-transparent mx-4 px-4 py-2 font-semibold text-[#333] text-md shadow-[0_0px_4px_0px_rgba(6,81,237,0.2)]"
                >
                  <%= cartItem.quantity %>
                </span>

                <%= form_with(url: cart_add_path) do |f|%> <%= f.hidden_field :id,
                  value: product.id %> <%= f.hidden_field :quantity, value: 1, min:1 %>
                  <%= f.submit "+", class:"cursor-pointer shrink-0 py-2 font-semibold text-[#333] text-2xl hover:text-black/[0.7]"
                  %> <% end %>
              </div>
              <div class="flex items-center">
                <h4 class="text-lg font-bold text-[#333] mr-auto">
                  <%= number_to_currency(cartItem.total, unit: '$', percision: 2) %>
                </h4>
                <%= form_with(url: cart_remove_path) do |f|%>
                  <%= f.hidden_field :id,value: cartItem.id %>
                  <%= f.hidden_field :quantity, value:cartItem.quantity %>
                  <%= f.submit "X", class:"cursor-pointer shrink-0 text-[#333] font-semibold hover:text-red-500" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="bg-[#F9F6F0] rounded p-6">
          <h3 class="text-xl font-extrabold text-[#333] border-b pb-4">
            Order Summary
          </h3>
          <ul class="text-[#333] divide-y mt-6">
            <li class="flex flex-wrap gap-4 text-md py-4 font-bold">
              Subtotal
              <span class="ml-auto font-bold">
                <%=number_to_currency( @cart.total, unit: "$", precision: 2) %>
              </span>
            </li>

            <li class="flex flex-wrap gap-4 text-md py-4 font-bold">
              Shipping
              <span class="ml-auto font-bold">
                Free
              </span>
            </li>

            <li class="flex flex-wrap gap-4 text-md py-4">
              5% GST
              <span class="ml-auto">
                <%=number_to_currency( @cart.total * 0.05, unit: "$", precision: 2)
                %>
              </span>
            </li>

            <li class="flex flex-wrap gap-4 text-md py-4">
              7% PST
              <span class="ml-auto">
                <%=number_to_currency( @cart.total * 0.07, unit: "$", precision: 2)
                %>
              </span>
            </li>

            <li class="flex flex-wrap gap-4 text-md py-4  font-bold">
              Taxes
              <span class="ml-auto font-bold">
                <%=number_to_currency( @cart.total * 0.12, unit: "$", precision: 2)
                %>
              </span>
            </li>

            <li class="flex flex-wrap gap-4 text-md py-4 font-bold">
              Total
              <span class="ml-auto">
                <%=number_to_currency( @cart.total * 0.12 + @cart.total, unit: "$",
                precision: 2) %>
              </span>
            </li>
          </ul>
          <button
            type="button"
            class="mt-6 text-md px-6 py-2.5 w-full bg-[#CDAC90] hover:bg-[#B68256] text-white rounded"
          >
            Check out
          </button>
        </div>
      </div>
    <% else %>
      <p class="mt-[20vh] text-center text-2xl">Your cart is empty</p>
    <% end %>
  </div>
<% end %>
