<%= render 'layouts/header' %>

<div class="mt-24 mb-10 md:w-[40%] mx-auto container px-4">
  <h2 class="text-3xl text-center font-bold pt-10 mb-2">Create Account</h2>
  <div class="text-lg text-center my-4">
    <span>Already have an account?</span>
    <div class="inline text-[#BE916E] hover:text-[#E6CDBB]">
      <%= render "devise/shared/links"%>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="field my-2">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <% if @minimum_password_length %>
        <em class="text-xs text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="field my-2">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="actions">
        <%= f.submit "Create", class:"my-4 bg-[#BE916E] hover:bg-[#E6CDBB] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>
