<%= render 'layouts/header' %>

<div class="mt-24 mx-auto px-4 md:px-6 lg:px-8 w-[80%]">
  <h1 class="text-3xl font-extrabold text-gray-900 mb-10 pt-10">Order History</h1>
  <% @orders.each do |order| %>
    <div class="mb-10 bg-white shadow shadow-[#e6cdbb] overflow-hidden md:rounded-md">
      <div class="px-4 py-5 md:px-6 grid grid-cols-1 md:grid-cols-6 gap-4 border-b border-[#e6cdbb] ">
        <div class="md:col-span-1">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Order number</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= order.id %></p>
        </div>
        <div class="md:col-span-2">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Date placed</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500"><%= I18n.l(order.created_at, format: :long) %></p>
        </div>
        <div class="md:col-span-2">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Total amount</h3>
          <p class="mt-1 max-w-2xl text-sm font-medium text-gray-900"><%= number_to_currency(order.total_with_taxes) %></p>
        </div>
        <div class="md:col-span-1 flex justify-end items-center">
          <%= link_to 'View Order', order_path(order), class: "border-2 border-[#c19772] text-[#c19772] px-3 py-2 rounded-lg shadow shadow-[#e6cdbb] hover:text-[#ad7c54] hover:border-[#ad7c54]" %>
        </div>
      </div>
      <% order.order_items.each do |item| %>
        <div class="flex flex-col lg:flex-row items-start md:items-center px-4 py-4 md:px-6">
          <%= image_tag item.product.image, alt: item.product.name, class: "w-24 h-24 md:mr-4 flex-shrink-0 rounded" %>
          <div class="mt-4 md:mt-0 md:ml-4 flex-grow">
            <h4 class="text-lg font-bold text-gray-900"><%= item.product.name %></h4>
            <p class="mt-2 text-sm font-semibold text-gray-900">Price: <%= number_to_currency(item.price) %></p>
          </div>
          <div class="mt-4 lg:mt-0 md:ml-4">
            <%= link_to 'View Product', product_path(item.product), class: "text-[#c19772] hover:text-[#ad7c54]" %>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>
