<%= render 'layouts/header' %>
<div class="flex justify-center w-[80%] mx-auto mt-14">
  <div class="w-[30%] bg-gray-200">1</div>
  <div class="w-[70%]">
    <div class="flex flex-col items-center justify-center h-48 my-8 p-8 rounded bg-[#E6CDBA] gap-2">
      <h1 class="font-bold">
        NEW PRODUCT 2024
      </h1>
      <p class="text-2xl font-bold">
        Ageha Gel
      </p>
      <p class="text-sm text-gray-700/[0.4] text-center">
        A professional brand specially developed by popular Japanese nail artist Ageha. Ageha Gel fits seamlessly into your nail needs, whether in the salon or for use in nail art.
      <p>
    </div>
      <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4">
        <% @products.each do |product| %>
          <div class="shadow-md overflow-hidden rounded cursor-pointer hover:-translate-y-2 transition-all relative">
            <div class="w-48 h-48 md:w-[150px] md:h-[150px] p-4 overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
              <%= image_tag product.image, alt:product.name%>
            </div>
            <div class="p-6 bg-white">
              <h3 class="text-lg h-20 text-gray-600/[0.7]"><%= product.name %></h3>
              <h4 class="text-lg text-gray-700 font-bold mt-2">$<%= product.price %></h4>
              <button type="button"
                      class="w-full mt-6 px-4 py-3 bg-[#E6CDBA] hover:bg-[#BE916E] text-white rounded-full">
                Add to cart
              </button>
            </div>
          </div>
        <% end %>

      </div>
      <%= paginate @products %>
  </div>
</div>
