<%= render 'layouts/header' %>
<div class="flex justify-center w-[80%] mx-auto mt-14">
  <div class="w-[30%] mt-10">
    <ul class="flex flex-col gap-8">
      <li>
        <p class="font-bold text-lg border-b pb-1 mr-10">Product Type</p>
        <ul class="flex flex-col gap-4 mt-2">
          <li>
            <%= link_to 'Clear Gel', products_path(category_id:1), class: "#{current_page?(products_path(category_id:1)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li>
            <%= link_to 'Color Gel', products_path(category_id:2), class:"#{current_page?(products_path(category_id:2)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li>
            <%= link_to 'Art', products_path(category_id:3), class: "#{current_page?(products_path(category_id:3)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li>
            <%= link_to 'Tools', products_path(category_id:4), class:"#{current_page?(products_path(category_id:4)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li>
            <%= link_to 'Solution', products_path(category_id:5), class:"#{current_page?(products_path(category_id: 5)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li>
            <%= link_to 'Nail polish', products_path(category_id:6), class: "#{current_page?(products_path(category_id:6)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
        </ul>
      </li>
      <li>
        <p class="font-bold text-lg border-b pb-1 mr-10">Brand</p>
      </li>

    </ul>
  </div>
  <div class="w-[70%]">
    <div class="flex flex-col items-center justify-center h-48 my-8 p-8 rounded bg-[#E6CDBA] gap-2">
      <h1 class="font-bold">
        NEW PRODUCT 2024
      </h1>
      <p class="text-2xl font-bold">
        Ageha Gel
      </p>
      <p class="text-sm text-gray-700/[0.4] text-center">
        A professional brand specially developed by popular Japanese nail artist Ageha. Ageha Gel fits seamlessly into your nail needs, whether in the salon or for use in nail art.
      <p>
    </div>
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 mb-4">
        <% @products.each do |product| %>
          <%= link_to product_path(product), class:"shadow-md overflow-hidden rounded cursor-pointer hover:-translate-y-2 transition-all relative" do %>
            <div class="w-48 h-48 lg:w-[250px] lg:h-[250px] p-4 overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
              <%= image_tag product.image, alt:product.name%>
            </div>
            <div class="p-6 bg-white">
              <h3 class="text-lg h-20 text-gray-600/[0.7]"><%= product.name %></h3>
              <h4 class="text-lg text-gray-700 font-bold mt-2">$<%= product.price %></h4>
              <button type="button"
                      class="w-full mt-6 px-4 py-3 bg-[#E6CDBA] hover:bg-[#BE916E] font-medium text-white rounded-full">
                Add to cart
              </button>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= paginate @products %>
  </div>
</div>
