<%= render 'layouts/header' %>
<div class="flex justify-center w-[80%] mx-auto mt-14">
  <aside class="fixed top-[10%] left-[10.5%] z-30 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0">
    <ul class="flex flex-col gap-8">
      <li class="mr-10 text-gray-500/[0.6]">
        <%= link_to 'All Product', products_path  %>
      </li>
      <li class="text-[#be916e] flex flex-row hover:text-[#be916e]/[0.5] group">
        <svg class="flex-shrink-0 w-5 h-5 text-[#be916e] transition duration-75 group-hover:text-[#be916e]/[0.5] mr-1"
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
          <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
        </svg>
        <%= link_to 'ON SALE!!', products_path(active:true), class:"#{current_page?(products_path(active:true)) ? 'font-bold underline' : 'font-normal'}"%>
      </li>
      <li>
        <%= link_to 'NEW', products_path(new:true) %>
      </li>
      <li>
        <p class="font-bold text-lg border-b pb-1 mr-10">Product Type</p>
        <ul class="flex flex-col gap-2 mt-2">
          <li class="text-sm">
            <%= link_to 'Art', products_path(category_id:3), class: "#{current_page?(products_path(category_id:3)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Clear Gel', products_path(category_id:1), class: "#{current_page?(products_path(category_id:1)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Color Gel', products_path(category_id:2), class:"#{current_page?(products_path(category_id:2)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Nail polish', products_path(category_id:6), class: "#{current_page?(products_path(category_id:6)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Solution', products_path(category_id:5), class:"#{current_page?(products_path(category_id: 5)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Tools', products_path(category_id:4), class:"#{current_page?(products_path(category_id:4)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
        </ul>
      </li>
      <li>
        <p class="font-bold text-lg border-b pb-1 mr-10">Brand</p>
        <ul class="flex flex-col gap-2 mt-2">
          <li class="text-sm">
            <%= link_to 'Ageha', products_path(name: 'Ageha'), class:"#{current_page?(products_path(name: 'Ageha')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Anna', products_path(name: 'Anna'), class:"#{current_page?(products_path(name: 'Anna')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'CLETO', products_path(name: 'CLETO'), class:"#{current_page?(products_path(name: 'CLETO')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
          <li class="text-sm">
            <%= link_to 'DINAGEL', products_path(name: 'DINAGEL'), class:"#{current_page?(products_path(name: 'DINAGEL')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>

          <li class="text-sm">
            <%= link_to 'Moov', products_path(name: 'Moov'), class:"#{current_page?(products_path(name: 'Moov')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>

          <li class="text-sm">
            <%= link_to "L'Oreal", products_path(name: "L'Oreal"), class:"#{current_page?(products_path(name: "L'Oreal")) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'}" %>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="p-4 sm:ml-64 w-[85%]">
    <div class="flex flex-col items-center justify-center h-48 my-8 p-8 rounded bg-[#E6CDBA] gap-2">
      <h1 class="font-bold">
        NEW PRODUCT 2024
      </h1>
      <p class="text-2xl font-bold">
        Ageha Gel
      </p>
      <p class="text-sm text-gray-700/[0.4] text-center">
        A professional brand specially developed by popular Japanese nail artist Ageha. Ageha Gel fits seamlessly into your nail needs, whether in the salon or for use in nail art.
      <p>
    </div>
      <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-4 mb-4">
        <% @products.each do |product| %>
          <div class="shadow-md overflow-hidden rounded cursor-pointer hover:-translate-y-2 transition-all relative">
            <%= link_to product_path(product)  do %>
              <div class="w-48 h-48 lg:w-[240px] lg:h-[240px] p-4 overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
                <%= image_tag product.image, alt:product.name, class:"w-48 h-48 lg:w-[220px] lg:h-[200px]"%>
              </div>
            <% end %>
              <div class="p-6 bg-white">
                <%= link_to product_path(product)  do %>
                  <h3 class="text-lg h-20 text-gray-600/[0.7]"><%= product.name %></h3>
                <% end %>
                <% if product.active %>
                  <div class="flex flex-row gap-2">
                    <p class="text-lg text-red-700 font-bold mt-2"><%= number_to_currency(product.price * 0.85, unit: "$", precision: 2) %></p>
                    <p class="text-lg text-gray-500/[0.4] text-sm	line-through mt-2"><%= number_to_currency(product.price, unit: "$") %></p>
                  </div>
                <% else %>
                  <p class="text-lg text-gray-700 font-bold mt-2"><%= number_to_currency(product.price, unit: "$") %></p>
                <% end %>
                <button type="button"
                        class="w-full mt-6 px-4 py-3 bg-[#E6CDBA] hover:bg-[#BE916E] font-medium text-white rounded-full">
                  Add to cart
                </button>
              </div>
          </div>
        <% end %>
      </div>
      <%= paginate @products %>
  </div>
</div>
