<%= render 'layouts/header' %>
<div class="flex justify-center md:w-[80%] w-full mx-auto mt-14">
  <aside class="sticky hidden md:block top-[14%] left-[11%] md:w-44 lg:w-64 max-h-[86vh] overflow-auto overscroll-contain transition-transform -translate-x-full sm:translate-x-0 ">
    <ul class="flex flex-col gap-6">
      <li class="mr-10 text-gray-500/[0.6] hover:text-[#BE916E]">
        <%= link_to 'All Product', products_path  %>
      </li>
      <li class="text-[#be916e] flex flex-row hover:text-[#be916e]/[0.5] group">
        <svg class="flex-shrink-0 w-5 h-5 text-[#be916e] transition duration-75 group-hover:text-[#be916e]/[0.5] mr-1"
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
          <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
        </svg>
        <%= link_to 'ON SALE!!', products_path(active:true), class:"#{current_page?(products_path(active:true)) ? 'font-bold underline' : 'font-normal'} "%>
      </li>
      <li>
        <%= link_to 'NEW', products_path(new:true), class:"#{current_page?(products_path(new:true)) ? 'font-bold underline' : 'font-normal'} hover:text-[#BE916E]" %>
      </li>
      <li>
        <%= link_to 'RECENT UPDATE', products_path(update:true), class:"#{current_page?(products_path(update:true)) ? 'font-bold underline' : 'font-normal'} hover:text-[#BE916E]" %>
      </li>
      <li>
        <p class="font-bold text-lg pb-1 mr-10">Product Type</p>
        <ul class="flex flex-col gap-2 mt-2">
          <li class="text-sm">
            <%= link_to 'Art', products_path(category_id:3), class: "#{current_page?(products_path(category_id:3)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Clear Gel', products_path(category_id:1), class: "#{current_page?(products_path(category_id:1)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Color Gel', products_path(category_id:2), class:"#{current_page?(products_path(category_id:2)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Nail polish', products_path(category_id:6), class: "#{current_page?(products_path(category_id:6)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Solution', products_path(category_id:5), class:"#{current_page?(products_path(category_id: 5)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Tools', products_path(category_id:4), class:"#{current_page?(products_path(category_id:4)) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
        </ul>
      </li>
      <li>
        <p class="font-bold text-lg pb-1 mr-10">Brand</p>
        <ul class="flex flex-col gap-2 mt-2">
          <li class="text-sm">
            <%= link_to 'Ageha', products_path(name: 'Ageha'), class:"#{current_page?(products_path(name: 'Ageha')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'Anna', products_path(name: 'Anna'), class:"#{current_page?(products_path(name: 'Anna')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'CLETO', products_path(name: 'CLETO'), class:"#{current_page?(products_path(name: 'CLETO')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
          <li class="text-sm">
            <%= link_to 'DINAGEL', products_path(name: 'DINAGEL'), class:"#{current_page?(products_path(name: 'DINAGEL')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>

          <li class="text-sm">
            <%= link_to 'Moov', products_path(name: 'Moov'), class:"#{current_page?(products_path(name: 'Moov')) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>

          <li class="text-sm">
            <%= link_to "L'Oreal", products_path(name: "L'Oreal"), class:"#{current_page?(products_path(name: "L'Oreal")) ? 'text-[#be916e] font-medium underline underline-offset-4' : 'text-gray-500/[0.6]'} hover:text-[#BE916E]" %>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="p-2 sm:p-4 sm:m-2 mt-[10%] sm:mt-0 w-full md:w-[60%] lg:w-full">
    <div class="flex flex-col items-center justify-center h-48 my-8 md:p-8 rounded bg-[#E6CDBA] gap-2">
      <h1 class="font-bold">
        NEW PRODUCT 2024
      </h1>
      <p class="text-2xl font-bold">
        Ageha Gel
      </p>
      <p class="text-sm text-gray-700/[0.4] text-center">
        A professional brand specially developed by popular Japanese nail artist Ageha. Ageha Gel fits seamlessly into your nail needs, whether in the salon or for use in nail art.
      <p>
    </div>
      <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 mb-4">
        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      </div>
      <div class="flex flex-wrap">
        <%= paginate @products, window: 1 %>
      </div>
  </div>
</div>

<%= render 'layouts/footer' %>
