<%= render 'layouts/header' %>
<div class="bg-[#F9F6F0]">
  <div class="pt-28 pb-10 w-[80%] mx-auto">
    <div class="p-6 lg:max-w-7xl max-w-2xl max-lg:mx-auto">
      <div class="grid items-start grid-cols-1 lg:grid-cols-5 gap-12">
        <div class="lg:col-span-2 w-full lg:sticky top-0 text-center">
          <div>
            <%= image_tag @product.image, alt:"Product", class:"w-4/5 rounded-3xl object-cover" %>
          </div>
        </div>
        <div class="lg:col-span-3 mt-4">
          <h2 class="text-2xl font-extrabold text-[#B58256]"><%= @product.name %></h2>
          <div class="flex flex-wrap gap-4 mt-4">
            <%= render 'products/product_price', product: @product %>
          </div>
          <div class="flex flex-wrap gap-4 mt-8">
            <%= form_with(url: cart_add_path) do |f|%>
              <%= f.hidden_field :id, value: @product.id %>
              <%= f.number_field :quantity, value: 1, min: 1, class:"w-20 px-4 py-2.5 border border-[#B58256]/[0.7] text-[#B58256]/[0.7] text-sm font-bold rounded" %>
              <%= f.submit "Add to cart", class: "min-w-[200px] px-4 py-2.5 border border-[#B58256]/[0.7] bg-transparent text-[#B58256]/[0.7] text-sm font-bold rounded hover:bg-[#B58256] hover:text-white transition ease-in-out delay-150 hover:-translate-y-1 duration-300 shadow-lg shadow-[#B58256]/40" %>
            <% end %>
          </div>
          <div class="mt-8">
            <h3 class="text-lg font-bold text-[#B58256]">Description</h3>
            <p class="text-black/[0.7]"> <%= @product.description %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-[#F9F6F0] ">
  <div class="w-[80%] mx-auto border-t-2 border-[#E6CDBB]/[0.5]">
    <h4 class="text-2xl py-10 px-2 text-[#B68256]">You may also like</h4>
    <div class="grid grid-cols-2 lg:grid-cols-4 grid-cols-1 md:grid-cols-2 gap-4">
      <% @recommend_products.each do |product| %>
        <div class="overflow-hidden rounded cursor-pointer hover:-translate-y-2 transition-all relative">
          <%= link_to product_path(product)  do %>
            <div class="w-48 h-48 lg:w-[240px] lg:h-[240px] rounded-lg overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4 ">
              <%= image_tag product.image, alt:'product',class:"cover hover:saturate-150 "%>
            </div>
            <div class="p-6">
              <h3 class="text-lg text-black/[0.4]"><%= product.name %></h3>
              <%= render 'products/product_price', product: product %>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
