<header class="bg-[#efe3d9] z-10 w-screen fixed top-0 left-0 right-0">
  <nav class="flex md:w-[80%] h-14 justify-between mx-auto py-5 items-center text-gray-700 ">
    <ul class="flex gap-4 list-none items-center m-0">
      <li>
        <%= link_to 'HOME', static_page_path('home'), class: "#{current_page?(static_page_path('home')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-gray-500" %>
      </li>
      <li>
        <%= link_to 'SHOP', products_path,
            class: "#{current_page?(products_path) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-gray-500" %>
      </li>
      <li>
        <%= link_to 'ABOUT', static_page_path('about'), class: "#{current_page?(static_page_path('about')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-gray-500" %>
      </li>
      <li>
        <%= link_to 'CONTACT', static_page_path('contact'), class: "#{current_page?(static_page_path('contact')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-gray-500" %>
      </li>

    </ul>
    <%= link_to static_page_path('home') do %>
      <%= image_tag 'Glamour.png', alt: "LOGO", class: "w-24 h-auto" %>
    <% end %>
    <ul class="flex gap-4 list-none items-center m-0">
      <li>
        <div class="bg-[#E6CDBA] rounded px-3 py-2 ">LOGIN</div>
      </li>
      <li>
        CART ( 0 )
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </li>
    </ul>
  </nav>
</header>
