<header class="bg-[#efe3d9] py-3 sm:px-10 font-[sans-serif] min-h-[70px] fixed top-0 left-0 right-0 w-full z-50">
  <nav class="flex flex-wrap items-center justify-between gap-5 sm:w-[85%] mx-auto ">
    <%= link_to static_page_path('home') do %>
      <%= image_tag 'Glamour.png', alt: "LOGO", class: "w-36 lg:absolute max-lg:top-4 max-lg:left-10 max-sm:left-4 lg:top-2/4 lg:left-2/4 lg:-translate-x-1/2 lg:-translate-y-1/2" %>
    <% end %>
    <div class="flex items-center ml-auto lg:order-1">
        <button class="bg-[#E6CDBA] rounded px-3 py-2 mr-6">LOGIN</button>
        <p class="mr-6">CART (0) </p>
        <button id="search-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <button id="toggle" class='lg:hidden ml-7'>
          <svg class="w-7 h-7" fill="#333" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
    </div>
    <ul id="menu" class="lg:!flex lg:space-x-5 max-lg:space-y-2 max-lg:hidden max-lg:py-4 max-lg:w-full">
      <li>
        <%= link_to 'HOME', static_page_path('home'), class: "#{current_page?(static_page_path('home')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-[#b68256]" %>
      </li>
      <li>
        <%= link_to 'SHOP', products_path,
            class: "#{current_page?(products_path) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-[#b68256]" %>
      </li>
      <li>
        <%= link_to 'ABOUT', static_page_path('about'), class: "#{current_page?(static_page_path('about')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-[#b68256]" %>
      </li>
      <li>
        <%= link_to 'CONTACT', static_page_path('contact'), class: "#{current_page?(static_page_path('contact')) ? 'underline decoration-2 underline-offset-4' : 'no-underline'} hover:text-[#b68256]" %>
      </li>
    </ul>
  </nav>

  <div class="relative w-full hidden bg-white shadow-xl" id="search-content">
    <div class="container mx-auto py-4 text-black">
      <%= form_tag search_path, method: :get, class: "w-full text-grey-800 transition focus:outline-none focus:border-transparent p-2 appearance-none leading-normal text-xl lg:text-2xl" do %>
        <%= text_field_tag :query, params[:query], class: "rounded" %>
        <%= select_tag :category, options_for_select([['All Product', ''], ['Art', '3'], ['Clear Gel', '1'], ['Color Gel', '2'], ['Nail Polish', '6'], ['Solution', '5'], ['Tools', '2']], selected: params[:category]), class: "rounded" %>
        <%= submit_tag "Search", class: "bg-[#a6c1ee] text-white px-3 py-2 rounded hover:bg-[#87acec]" %>
      <% end %>
    </div>
  </div>
</header>


<script>
  var toggleBtn = document.getElementById('toggle');
  var collapseMenu = document.getElementById('menu');

  function handleClick() {
    if (collapseMenu.style.display === 'block') {
      collapseMenu.style.display = 'none';
    } else {
      collapseMenu.style.display = 'block';
    }
  }

  toggleBtn.addEventListener('click', handleClick);

  var toggleSearch = document.getElementById('search-toggle');
  var searchContent = document.getElementById('search-content');

  function handleSearchClick() {
    if (searchContent.style.display === 'block') {
      searchContent.style.display = 'none';
    } else {
      searchContent.style.display = 'block';
    }
  }

  toggleSearch.addEventListener('click', handleSearchClick);
</script>
