<!DOCTYPE html>
<html>
  <head>
    <title>Glamour Nail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'nail_logo.png' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_include_tags %>
  </head>

  <body>
    <main class="relative">

      <% flash.each do |key, value| %>
        <div class="flash <%= key %> mt-24 text-center"><%= value %></div>
      <% end %>

    <%= yield %>
    </main>
    <script>
      document.addEventListener("turbo:load", function() {
        var flashes = document.querySelectorAll('.flash');
        setTimeout(function() {
          flashes.forEach(function(flash) {
            flash.style.display = 'none';
          });
        }, 3000);
      });
    </script>
  </body>


</html>
